Repository jbenner-radham/belmont-theme-for-eza: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint --fix, prettier --write, npx shellcheck, sort-package-json

Add troubleshooting section to readme
  .markdownlint.yaml
  README.md
Due: markdownlint --fix, prettier --write

Credit Preston Thorpe
  README.md
Due: markdownlint --fix

Change git ignored status from VERY_DARK_GRAYISH_BLUE -> VERY_LIGHT_BLUE
  theme.yml
Due: prettier --write

Start adding Prettier logo icons to prettierrc files
  theme.yml
Due: prettier --write

Add more Prettier logo icons to prettierrc files
  theme.yml
Due: prettier --write

Finish adding Prettier logo icons to prettierrc files
  theme.yml
Due: prettier --write

Rename theme.yml -> theme.yaml
  .lintstagedrc.yaml
  README.md
  install.sh
  theme.yaml
Due: markdownlint --fix, prettier --write, npx shellcheck

Optimize example PNG size
  images/example.png
Due: none

Seed example files with random dummy data
  scripts/make-example-dir.mjs
Due: prettier --write

Adjust random data seeding
  scripts/make-example-dir.mjs
Due: prettier --write

Tweak size column colors
  theme.yaml
Due: prettier --write

Center readme header
  .markdownlint.yaml
  README.md
Due: markdownlint --fix, prettier --write

Increase possible size of dummy files for example
  scripts/make-example-dir.mjs
Due: prettier --write

Update filesize colors
  theme.yaml
Due: prettier --write

Adjust generated example files
  scripts/make-example-dir.mjs
Due: prettier --write

Update example image
  images/example.png
Due: none

Fix potential git clone error on install
  install.sh
Due: npx shellcheck

Fix potential false reporting of directory creation intent
  install.sh
Due: npx shellcheck

Fix potential incorrect reporting of directory creation intent
  install.sh
Due: npx shellcheck

Add custom icon for UNLICENSE files
  theme.yaml
Due: prettier --write

Update main in package
  package.json
Due: sort-package-json

Update file icons
  theme.yaml
Due: prettier --write

Re-optimize example image
  images/example.png
Due: none

Add custom icon for LICENSE.rst files
  theme.yaml
Due: prettier --write

Reformat install proceed prompt a tiny bit
  install.sh
Due: npx shellcheck

Revisit size styling
  images/example.png
  theme.yaml
Due: prettier --write

Italicize subheader in readme
  README.md
Due: markdownlint --fix

Add test comment
  theme.yaml
Due: prettier --write

Revert "Add test comment"
  theme.yaml
Due: prettier --write

Update to "sparse checkout" for install
  install.sh
Due: npx shellcheck

Add quiet flatt to git checkout
  install.sh
Due: npx shellcheck

Set errexit on install script
  install.sh
Due: npx shellcheck

Refactor install script
  install.sh
Due: npx shellcheck

Fix wrong install script URLs in readme
  README.md
Due: markdownlint --fix

Remove commented out value
  theme.yaml
Due: prettier --write

Add experiment to install script
  install.sh
Due: npx shellcheck

Add readonly to variable
  install.sh
Due: npx shellcheck

Hopefully simplify the install section of the readme
  README.md
Due: markdownlint --fix

Remove HTTPie from install section of readme
  README.md
Due: markdownlint --fix

Fix capitalization
  README.md
Due: markdownlint --fix

Path conditions:
  markdownlint --fix: any of: *.md
  prettier --write: (any of: *.mjs) or (any of: *.{yaml,yml})
  npx shellcheck: any of: *.sh
  sort-package-json: any of: package.json
