Repository jbenner-radham/belmont-theme-for-eza: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint --fix, prettier --write, npx shellcheck, sort-package-json

Add make-release-artifacts script
  .gitignore
  package.json
  scripts/make-release-artifacts.mjs
Due: prettier --write, sort-package-json

Switch from npm to pnpm
  package-lock.json
  pnpm-lock.yaml
Due: prettier --write

Rename variables for semantics
  scripts/make-release-artifacts.mjs
Due: prettier --write

Revamp install script
  install.sh
Due: npx shellcheck

Add commented out xtrace option to install script
  install.sh
Due: npx shellcheck

Add text styling comment to install script
  install.sh
Due: npx shellcheck

Set missing default for EZA_CONFIG_DIR env var
  install.sh
Due: npx shellcheck

Remove extra newline at EOF
  install.sh
Due: npx shellcheck

Shorten reference URL
  install.sh
Due: npx shellcheck

Update install instructions
  README.md
Due: markdownlint --fix

Add Wget2 install instructions to readme
  README.md
Due: markdownlint --fix

Path conditions:
  markdownlint --fix: any of: *.md
  prettier --write: (any of: *.mjs) or (any of: *.{yaml,yml})
  npx shellcheck: any of: *.sh
  sort-package-json: any of: package.json
